.App-header {
  text-align: center;
  padding: 20px;
}

.flexgrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}


.profile {
  width: 300px;
  height: 500px;
}

.profile img {
  width: 200x;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 1.5rem;
  /* Adjust size (1.5x default size) */
  font-weight: bold;
  /* Make the text bold */
  margin: 10px 0 0;
  /* Add space above/below the text */
}

.github-link {
  font-size: 3rem;
  /* Slightly smaller than the name */
  color: #007acc;
  /* GitHub link blue color */
  text-decoration: none;
  /* Remove underline */
  margin-top: 5px;
  /* Add space above the link */
  display: inline-block;
}